/**  css Zen Garden Assignment for SU WATS1010 2015 ******************************

in memory of our dearest friend
pepper who has been with us during the sadest
and happest moments of our lives.  thank you
and we love you - sunny yuen, nov 2015

**  table of content  ************************************************************* 

01  defaults
02  typography
03  modules


/**  01 defaults  ****************************************************************/

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
p,
blockquote,
th,
td {  
    margin: 0; 
    padding: 0;
    list-style-type: none;
}

html {
    background: url(white_texture.png);
}

body {
    background: url(ppr-shape.png) right bottom no-repeat fixed;
}

p,
ul,
ol,
pre,
table,
blockquote {
    margin-top: 1rem;  /**  multiple(s) of line-height  **/  
    margin-bottom: 1rem;  /**  multiple(s) of line-height  **/
}


/**  02 typography  **************************************************************/

html  {  font-size: 120%;  }  /**  ensures 16px browser default  **/ 

body  {  
    font-family: 'Cutive Mono', serif;
    color: #333;
    line-height: 1.5;
}

h1, 
h2, 
h3, 
h4  {
    font-family: 'Amatic SC', cursive;
    color: #333;
    font-weight: 700;  
}

/**  font scale of n = 1.414 (augmented 4th)  **/

h1 { 
    font-size: 3.998rem;  /**  n^4  **/
    line-height: 1.3;  /** set visually then divided evenly down to the small heading**/
}

h2 {
    font-size: 2.827rem;  /**  n^3  **/
    line-height: 1.35;  /** (base LH - h1 LH / (4) + h1 LH)  **/ 
}

h3 {
    font-size: 1.999rem;  /**  n^2  **/
    line-height: 1.4;  /** (base LH - h1 LH / (4) + (2 * h1 LH))  **/ 
}

h4 {
    font-size: 1.414rem;  /**  n^1  **/
    line-height: 1.45;  /** (base LH - h1 LH / (4) + (3 * h1 LH))  **/ 
}    

/**  heading margins multiple(s) of body line-height to set vertical rhythm **/
h1, 
h2, 
h3, 
h4 {
    margin-top: 2rem;  
    margin-bottom: 1rem; 
}

abbr {
    letter-spacing: 0.4rem;
    font-size: 80%;
}

.designer-name {
    font-style: italic;
    font-size: 0.707rem;    
}

#zen-requirements p:last-of-type {
    border-top: dashed 1px #999;
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 0.707rem;
}

.design-selection li {
    font-style: italic;
    font-size: 0.707rem;
}
    
.design-name {
    font-size: 1rem;
    font-style: normal;
    background-color: rgba(255, 255, 255, .8);    
}


/** links **/

a:before {   /* this doesnt work on multi-line links */
    content: "";
    position: absolute;
    width: 100%;
    bottom: -2px;
    left: 0;
    border-bottom: dotted 1px #b86101; 
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

a:link {
    position: relative;
    color: #b86101;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #b86101;
}

/* mouse over link */

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

a:hover {
    text-decoration: none;
}

    
/* selected link */
a:active {
    color: #b86101;
}


/** hide & replace **/


header h1::before {
    content: 'pepper\0027s';
    background: url(ears.png) 4rem 100% no-repeat;
    background-size: 10rem;
    padding-top: 6rem;
    display: block;
    font-size: 1.999rem;
}

header h1::after {
    content: ' and his favorite toys';
    display: block;
    background: url(ball.png) 17rem 55% no-repeat;
    background-size: 3rem;
    font-size: 2.827rem;
}

.summary p:first-child::before {
    content: 'Zen Garden Design Tips';
    display: block;
    font: 1.999rem 'Amatic SC', cursive;
    font-weight: 700;
    padding: 5rem 0 1rem 0;
}

header h2 {
    display: none;
}

h3.select {
    visibility: hidden;
} 

h3.select::after {
    content: 'Other CSS Gardens';
    position: absolute;  /*  puts it back to original position */
    display: block;
    top: 2rem;
    visibility: visible;
}

h3.archives {
    display: none;
} 

.next a:first-child {
    visibility: hidden;
}

.next a::after {
    content: '-next';
    position: absolute;  /*  puts it back to original position */
    display: block;
    top: 0;
    visibility: visible;
}

.viewall a:first-child {
    visibility: hidden;
}

.viewall a::after {
    content: '+all';
    position: absolute;  /*  puts it back to original position */
    display: block;
    top: 0;
    visibility: visible;
}

#zen-resources h3 {
    visibility: hidden;
}

#zen-resources h3::after {
    content: 'Goodies';
    float: left;
    visibility: visible;
}


/**  03 modules  ***************************************************************/


.page-wrapper  { 
    max-width: 1024px;
    width: 90%; 
    margin: 0 auto;    
}

aside {
    position: absolute; right: 5%; top: 25.6rem; 
    width: 25%;
    padding-left: 3rem;
    border-left: dashed 1px #999;
    
}

[role="article"], [role="banner"], footer {
    display: inline-block;
    width: 55%;
}

footer {
    margin-bottom: 3rem;
}


/* aside styles */

.design-name:after {
    content: '\a';
    white-space: pre;
}

nav li, .zen-resources li {
    margin: 0 0 .75rem 0;
}



/*  media queries */


@media (max-width: 900px) {
    
    aside {
        position: static; 
        width: 100%;
        border: none;
        padding: 0 0 2rem 0;        
    }
    
    #design-selection, #design-archives, #zen-resources {
        display: table;
    }
  
    [role="article"], 
    [role="banner"], 
    footer {
        width: 100%;
        margin: 0;
    }
    
    footer {
        padding-bottom: 1rem;
        border-bottom: dashed 1px #999;
    }
    
    #design-selection h3 {
        display: none;
    }
    
    #design-selection:before {
        content:'Other CSS Gardens';
        display: block;
        font: 1.999rem 'Amatic SC', cursive;
        font-weight: 700;
        padding: 3rem 0 0.5rem 0;
    } 
    
    #design-selection li {
        display: inline-block;
        text-align: center;
        margin: 0 1rem 1.5rem 0;
        border-left: dashed 1px #999;
        padding: 0 0 0 1rem;    
    }
    
}

@media (max-width: 724px) {
    
    #design-selection li {
        text-align: left;
        display: table;
        border: none;
        margin: 0 0 0.5rem 0;
        padding: 0;
    }

}

/*  


html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: #fff url(blossoms.jpg) no-repeat bottom right; 
	margin: 0; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}


/* specific divs
.page-wrapper { 
	background: url(zen-bg.jpg) no-repeat top left; 
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	}

.intro { 
	min-width: 470px;
	width: 100%;
	}

header h1 { 
	background: transparent url(h1.gif) no-repeat top left;
	margin-top: 10px;
	display: block;
	width: 219px;
	height: 87px;
	float: left;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
header h2 { 
	background: transparent url(h2.gif) no-repeat top left; 
	margin-top: 58px; 
	margin-bottom: 40px; 
	width: 200px; 
	height: 18px; 
	float: right;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
header {
	padding-top: 20px;
	height: 87px;
}

.summary {
	clear: both; 
	margin: 20px 20px 20px 10px; 
	width: 160px; 
	float: left;
	}
.summary p {
	font: italic 1.1em/2.2 georgia; 
	text-align: center;
	}

.preamble {
	clear: right; 
	padding: 0px 10px 0 10px;
	}
.supporting {	
	padding-left: 10px; 
	margin-bottom: 40px;
	}

footer { 
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}

.sidebar {
	margin-left: 600px; 
	position: absolute; 
	top: 0; 
	right: 0;
	}
.sidebar .wrapper { 
	font: 10px verdana, sans-serif; 
	background: transparent url(paper-bg.jpg) top left repeat-y; 
	padding: 10px; 
	margin-top: 150px; 
	width: 130px; 
	}
.sidebar h3.select { 
	background: transparent url(h3.gif) no-repeat top left; 
	margin: 10px 0 5px 0; 
	width: 97px; 
	height: 16px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.archives { 
	background: transparent url(h5.gif) no-repeat top left; 
	margin: 25px 0 5px 0; 
	width:57px; 
	height: 14px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.resources { 
	background: transparent url(h6.gif) no-repeat top left; 
	margin: 25px 0 5px 0; 
	width:63px; 
	height: 10px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}


.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 1.3em; 
	background: transparent url(cr1.gif) no-repeat top center; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color: #988F5E;
	}
.sidebar li a:visited {
	color: #B3AE94;
	}


.extra1 {
	background: transparent url(cr2.gif) top left no-repeat; 
	position: absolute; 
	top: 40px; 
	right: 0; 
	width: 148px; 
	height: 110px;
	}
*/