/**  css Zen Garden Assignment for SU WATS1010 2015 
****************************************************************
in memory of our dearest friend pepper who has brought us much 
happiness in the last 20yrs.  we love you very much pepper and 
you'll always be in our hearts - sunny yuen, nov 2015 
**************************************************************** 


01  defaults
02  typography
        font-scale
        links        
03  ::before & ::after replacements
04  layout & spacing
        aside
05  media queries




/**  01 defaults  
****************************************************************/

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
p,
blockquote,
th,
td {  
    margin: 0; 
    padding: 0;
    list-style-type: none;
}

html {
    background: url(white_texture.png);
}

body {
    background: url(ppr-shape.png) right bottom no-repeat fixed;
}

p,
ul,
ol,
pre,
table,
blockquote {
    margin-top: 1rem;  /**  multiple(s) of line-height  **/  
    margin-bottom: 1rem;  /**  multiple(s) of line-height  **/
}




/**  02 typography
**************************************************************/ 

html  {  font-size: 120%;  }  /**  ensures 16px browser default  **/ 

body  {  
    font-family: 'Cutive Mono', serif;
    color: #333;
    line-height: 1.5;
}

h1, 
h2, 
h3, 
h4  {
    font-family: 'Amatic SC', cursive;
    color: #333;
    font-weight: 700;  
}

/**  font scale of n = 1.414 (augmented 4th)  **/

h1 { 
    font-size: 3.998rem;  /**  n^4  **/
    line-height: 1.3;  /** set visually then divided evenly down to the smallest heading**/
}

h2 {
    font-size: 2.827rem;  /**  n^3  **/
    line-height: 1.35;  /** (base LH - h1 LH / (4) + h1 LH)  **/ 
}

h3 {
    font-size: 1.999rem;  /**  n^2  **/
    line-height: 1.4;  /** (base LH - h1 LH / (4) + (2 * h1 LH))  **/ 
}

h4 {
    font-size: 1.414rem;  /**  n^1  **/
    line-height: 1.45;  /** (base LH - h1 LH / (4) + (3 * h1 LH))  **/ 
}    

h1, 
h2, 
h3, 
h4 {  /**  multiple(s) of body line-height to match vertical rhythm **/
    margin-top: 2rem;  
    margin-bottom: 1rem; 
}

abbr {
    letter-spacing: 0.4rem;
    font-size: 80%;
}

.designer-name {
    font-style: italic;
    font-size: 0.707rem;    
}

#zen-requirements p:last-of-type {
    border-top: dashed 1px #999;
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 0.707rem;
}

.design-selection li {
    font-style: italic;
    font-size: 0.707rem;
}
    
.design-name {
    font-size: 1rem;
    font-style: normal;
    background-color: rgba(255, 255, 255, .8);    
}

/** links **/

a:before {   /* this doesnt work on multi-line links */
    content: '';
    position: absolute;
    width: 100%;
    bottom: -2px;
    left: 0;
    border-bottom: dotted 1px #b86101; 
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

a:link {
    position: relative;
    color: #b86101;
    text-decoration: none;
}

/* visited */
a:visited {
    color: #b86101;
}

/* mouse over */
a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

a:hover {
    text-decoration: none;
    color: #000;
}

    
/* selected */
a:active {
    color: #b86101;
}




/**  03 ::before & ::after replacements  
**************************************************************/ 

header h1::before {
    content: 'Pepper\0027s';
    background: url(ears.png) 4rem 100% no-repeat;
    background-size: 10rem;
    padding-top: 6rem;
    display: block;
    font-size: 1.999rem;
}

header h1::after {
    content: ' and His Favorite T\2002\2009ys';  /* space needed to insert background */
    display: block;
    background: url(ball.png) 13.6rem 0.99rem no-repeat;
    background-size: 2rem;
    font-size: 2.827rem;
}

.summary p:first-child::before {
    content: 'CSS Des\2002\2009gn Demo and Kit';
    display: block;
    font: 1.999rem 'Amatic SC', cursive;
    font-weight: 700;
    background: url(carrot.png) 3.6rem 4.5rem no-repeat;
    background-size: 2rem;
    padding: 5rem 0 1rem 0;
    
}

header h2 {
    display: none;
}

h3.select {
    visibility: hidden;
} 

h3.select::after {
    content: 'Other CSS Gardens';
    position: absolute;  /*  puts it back to original position */
    display: block;
    top: 2rem;
    visibility: visible;
}

h3.archives {
    display: none;
} 

.next a:first-child {
    visibility: hidden;
}

.next a::after {
    content: '-next';
    position: absolute;  /*  puts it back to original position */
    display: block;
    top: 0;
    visibility: visible;
}

.viewall a:first-child {
    visibility: hidden;
}

.viewall a::after {
    content: '+all';
    position: absolute;  /*  puts it back to original position */
    display: block;
    top: 0;
    visibility: visible;
}

#zen-resources h3 {
    visibility: hidden;
}

#zen-resources h3::after {
    content: 'Goodies';
    float: left;
    visibility: visible;
}

.preamble h3::after {
    content: '';
    background: url(cupcake.png) 0.5rem -0.3rem no-repeat;
    padding-right: 8rem; /* room to show background-image  */
    padding-bottom: 4rem; /* room to show background-image  */
    background-size: 3rem;
}

.explanation h3::after {
    content: '';
    background: url(toy-ppy.png) 0.5rem 2.5rem no-repeat;
    background-size: 4rem;
    padding-right: 5rem; /* room to show background-image  */
    padding-top: 4rem;  /* room to show background-image  */
}

.participation h3::after {
    content: '';
    background: url(tweety.png) 0.5rem 2.5rem no-repeat;
    background-size: 4rem;
    padding-right: 5rem; /* room to show background-image  */
    padding-top: 4rem;  /* room to show background-image  */
}

.benefits h3::after{
    content: '';
    background: url(bed.png) 0.8rem 0.2rem no-repeat;
    padding-right: 8rem; /* room to show background-image  */
    padding-bottom: 2rem; /* room to show background-image  */
    background-size: 5rem;
}

.requirements h3::after{
    content: '';
    background: url(paws.png) 0.8rem 1.8rem no-repeat;
    padding-right: 8rem; /* room to show background-image  */
    padding-top: 2rem; /* room to show background-image  */
    background-size: 3rem;
}





/**  04 layout & spacing 
***************************************************************/

.page-wrapper  { 
    max-width: 1024px;
    width: 90%; 
    margin: 0 auto;    
}

aside {
    position: absolute; right: 5%; top: 25.6rem; 
    width: 25%;
    padding-left: 3rem;
    border-left: dashed 1px #999;
    
}

[role="article"], [role="banner"], footer {
    display: inline-block;
    width: 55%;
}

footer {
    margin-bottom: 3rem;
}


/* aside styles */


.design-name:after {
    content: '\a';
    white-space: pre;
}

nav li, .zen-resources li {
    margin: 0 0 .75rem 0;
}


/*  05 media queries 
***************************************************************/


@media (max-width: 900px) {  /* before the aside links start to wrap */
    
    aside {
        position: static; 
        width: 100%;
        border: none;
        padding: 0 0 2rem 0;        
    }
    
    #design-selection, #design-archives, #zen-resources {
        display: table;
    }
  
    [role="article"], 
    [role="banner"], 
    footer {
        width: 100%;
        margin: 0;
    }
    
    footer {
        padding-bottom: 1rem;
        border-bottom: dashed 1px #999;
    }
    
    #design-selection h3 {
        display: none;
    }
    
    #design-selection:before {
        content:'Other CSS Gardens';
        display: block;
        font: 1.999rem 'Amatic SC', cursive;
        font-weight: 700;
        padding: 3rem 0 0.5rem 0;
    } 
    
    #design-selection li {
        display: inline-block;
        text-align: center;
        margin: 0 1rem 1.5rem 0;
        border-left: dashed 1px #999;
        padding: 0 0 0 1rem;    
    }
    
}


@media (max-width: 724px) {  /* when 3 columns of design/designer turn into 2 */
    
    #design-selection li {
        text-align: left;
        display: table;
        border: none;
        margin: 0 0 0.5rem 0;
        padding: 0;
    }

}